@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-container {
  @apply flex justify-center items-center h-80;
}

.graph-container {
  display: flex;
}

.graph-div-cashFlow {
  width: 50%;
}

.flex-container {
  @apply flex items-center space-x-10 mt-10 mb-10;
}

.dropdown-container {
  @apply flex items-center space-x-2;
}

.refresh-button2 {
  @apply py-2 px-4 bg-blue-500 text-white rounded-md shadow-md hover:bg-blue-700 transition duration-300;
}

.loading-container {
  @apply flex justify-center items-center h-[578px];
}

.table-container1 {
  @apply overflow-x-auto relative;
}

.table1 {
  @apply min-w-full divide-y divide-gray-200 relative;
}

.table-header {
  @apply bg-gray-50 sticky top-0 ;
}

.table-header-cell {
  @apply px-6 py-3 text-center text-sm font-semibold text-gray-800 uppercase tracking-wider;
}

.in-thousand1 {
  @apply text-[10px] italic font-normal;
}

.table-cell {
  @apply px-6 py-4 whitespace-nowrap;
}

.graph-cash-bottom {
  width: 100%;
}

.text-green-500 {
  color: green;
}

.text-red-500 {
  color: red;
}

.dropdown-container {
  @apply flex items-center space-x-2; 
}

.table-title1 {
  @apply text-xl font-semibold mt-4 mb-2;
}

/* .stock-dropdown3 {
  @apply block w-auto rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
} */
.stock-dropdown {
  @apply px-5 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-500;
}

.calender-dropdown{
  @apply bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-500 z-10 p-1;
}

td {
  text-align: center;
  border: solid 2px lightgrey ;
}

.callPullDecay{
  @apply flex justify-around items-center;
}

.grand-div{
  @apply py-4;
}

.component-nav{
  @apply bg-[rgb(249,249,249)] flex h-14 items-start gap-4 cursor-pointer sticky top-0 z-[1] pt-4 pb-0 px-8 border-b-[rgb(216,220,227)] border-b border-solid;
  -webkit-box-pack: justify;
}

.component-nav-active {
  @apply font-medium text-blue-500 flex relative h-10;
}

.component-nav-active::after{
  @apply content-[""] w-full  absolute bg-blue-500 bottom-0 h-1 rounded-[0.5rem_0.5rem_0rem_0rem] mt-4;
}

.component-nav-deactive{
  @apply text-[#808284];
}