
.checkbox-container {
    margin-bottom: 10px;
  }

  #chart {
    max-width: auto;
    margin: 35px auto;
  }

  .strike-dropdown{
    @apply flex items-center space-x-4 p-4 bg-gray-100 rounded-md;
  }

  .dropdown-container{
    @apply flex items-center space-x-2;
  } 

  .last45mindecay-green{
    @apply text-green-500;
  }

  .last45mindecay-red{
    @apply text-red-400;
  }

  .decay-labels{
    @apply flex items-center;
  }